:root {
    --percentage: 100%;
    --mobile: 0.729;
    --tablet: 0.531441;
    --color1: rgb(32, 32, 32);
    --color2: rgb(255, 255, 255);
    --color3: rgb(255, 0, 0);
}
body {
    background-color: var(--color1);
    color: var(--color2);
    font-family: sans-serif;
    margin: calc(var(--percentage) * 0);
    font-size: var(--percentage);
}
#http404 header h1 {
    text-align: center;
    font-size: calc(var(--percentage) * 2);
    margin: calc(var(--percentage) * 0);
    text-transform: uppercase;
}
#http404 header #code {
    color: var(--color3);
}
