@font-face {
    font-family: "Proxima Nova";
    src: url("/Public/Fonts/Proxima Nova.otf");
    src: url("/Public/Fonts/Proxima Nova - Alternate.otf");
}
@font-face {
    font-family: "Source Code Pro";
    src: url("/Public/Fonts/Source Code Pro - Black Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Black.otf");
    src: url("/Public/Fonts/Source Code Pro - Bold Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Bold.otf");
    src: url("/Public/Fonts/Source Code Pro - Extra Light Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Extra Light.otf");
    src: url("/Public/Fonts/Source Code Pro - Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Light Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Light.otf");
    src: url("/Public/Fonts/Source Code Pro - Medium Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Medium.otf");
    src: url("/Public/Fonts/Source Code Pro - Regular.otf");
    src: url("/Public/Fonts/Source Code Pro - Semi Bold Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Semi Bold.otf");
}
@font-face {
    font-family: "Chopsic";
    src: url("/Public/Fonts/Chopsic.otf");
}
@font-face {
    font-family: "Digital 7";
    src: url("/Public/Fonts/Digital 7.ttf");
}
:root {
    --color1: rgb(32, 32, 32);
    --color2: rgb(255, 255, 255);
    --color3: rgb(255, 0, 0);
    --color4: rgb(0, 255, 0);
    --color5: rgba(255, 255, 255, 0.5);
    --proximaNova: "Proxima Nova";
    --sourceCodePro: "Source Code Pro";
    --chopsic: "Chopsic";
    --digital7: "Digital 7";
}
body {
    background-color: var(--color1);
    color: var(--color2);
    font-family: sans-serif;
}
#http404 header h1,
#homepage header h1 {
    text-align: center;
}
#http404 header h1 {
    text-transform: uppercase;
}
#http404 header #code {
    color: var(--color3);
}
#homepage main {
    display: flex;
    justify-content: space-evenly;
}
#homepage main a {
    font-family: var(--proximaNova);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--color2);
    color: var(--color1);
}
#homepage main a:hover {
    background-color: var(--color1);
    color: var(--color2);
}
#login header div,
#loginVerification header div,
#register header div,
#forgotPassword header div,
#userDashboard main nav .link {
    display: flex;
    justify-content: center;
}
#login header div a,
#loginVerification header div a,
#register header div a,
#forgotPassword header div a {
    text-decoration: none;
    color: var(--color2);
    font-family: var(--sourceCodePro);
}
#login header div a:hover,
#loginVerification header div a:hover,
#register header div a:hover,
#forgotPassword header div a:hover {
    text-decoration: underline;
}
#login main,
#loginVerification main,
#register main,
#forgotPassword main {
    display: flex;
    justify-content: center;
}
#login main form,
#loginVerification main form,
#register main form,
#forgotPassword main form {
    background-color: var(--color2);
}
#login main form .label,
#loginVerification main form .label,
#register main form .label,
#forgotPassword main form .label {
    font-family: var(--sourceCodePro);
    font-weight: bold;
    color: var(--color1);
    text-align: center;
}
#login main form input,
#loginVerification main form input,
#register main form input,
#forgotPassword main form input {
    font-family: var(--proximaNova);
    color: var(--color1);
}
#login main form #button button,
#loginVerification main form #button button,
#register main form #button button,
#forgotPassword main form #button button {
    color: var(--color2);
    background-color: var(--color1);
    cursor: pointer;
    font-family: var(--proximaNova);
    font-weight: bold;
    border: none;
}
#login main form #button button:hover,
#loginVerification main form #button button:hover,
#register main form #button button:hover,
#forgotPassword main form #button button:hover {
    color: var(--color1);
    background-color: var(--color2);
}
#login main form #serverRendering,
#loginVerification main form #serverRendering,
#register main form #serverRendering,
#forgotPassword main form #serverRendering {
    text-align: center;
}
#login main form #serverRendering h1,
#loginVerification main form #serverRendering h1,
#register main form #serverRendering h1,
#forgotPassword main form #serverRendering h1 {
    font-family: var(--proximaNova);
    font-weight: bold;
    width: unset;
}
#success {
    color: var(--color4);
}
#failure {
    color: var(--color3);
}
#register footer,
#login footer {
    text-align: center;
    font-family: var(--sourceCodePro);
}
#register footer a,
#login footer a {
    text-decoration: none;
    color: var(--color2);
    font-weight: bold;
}
#register footer a:hover,
#login footer a:hover {
    text-decoration: underline;
}
#userDashboard header h1 {
    text-align: center;
    font-weight: normal;
    font-family: var(--digital7);
}
#userDashboard main {
    display: flex;
}
#userDashboard main nav .link a {
    text-decoration: none;
    color: var(--color5);
}
#userDashboard main nav .link a:hover {
    color: var(--color2);
}
#signOut header h1 {
    text-align: center;
    font-family: var(--sourceCodePro);
}
