@font-face {
    font-family: "Proxima Nova";
    src: url("/Public/Fonts/Proxima Nova.otf");
    src: url("/Public/Fonts/Proxima Nova - Alternate.otf");
}
@font-face {
    font-family: "Source Code Pro";
    src: url("/Public/Fonts/Source Code Pro - Black Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Black.otf");
    src: url("/Public/Fonts/Source Code Pro - Bold Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Bold.otf");
    src: url("/Public/Fonts/Source Code Pro - Extra Light Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Extra Light.otf");
    src: url("/Public/Fonts/Source Code Pro - Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Light Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Light.otf");
    src: url("/Public/Fonts/Source Code Pro - Medium Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Medium.otf");
    src: url("/Public/Fonts/Source Code Pro - Regular.otf");
    src: url("/Public/Fonts/Source Code Pro - Semi Bold Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Semi Bold.otf");
}
@font-face {
    font-family: "Chopsic";
    src: url("/Public/Fonts/Chopsic.otf");
}
:root {
    --percentage: 100%;
    --mobile: 0.729;
    --tablet: 0.531441;
    --color1: rgb(32, 32, 32);
    --color2: rgb(255, 255, 255);
    --color3: rgb(255, 0, 0);
    --color4: rgb(0, 255, 0);
    --proximaNova: "Proxima Nova";
    --sourceCodePro: "Source Code Pro";
    --chopsic: "Chopsic";
}
body {
    background-color: var(--color1);
    color: var(--color2);
    font-family: sans-serif;
    margin: calc(var(--percentage) * 0);
    font-size: var(--percentage);
}
#http404 header h1,
#homepage header h1 {
    text-align: center;
    font-size: calc(var(--percentage) * 2);
    margin: calc(var(--percentage) * 0);
}
#http404 header h1 {
    text-transform: uppercase;
}
#http404 header #code {
    color: var(--color3);
}
#homepage main {
    display: flex;
    justify-content: space-evenly;
    margin-top: calc(var(--percentage) * 0.01);
}
#homepage main a {
    font-family: var(--proximaNova);
    font-size: calc(var(--percentage) * 1.8);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--color2);
    color: var(--color1);
    padding: calc(var(--percentage) * 0.1) calc(var(--percentage) * 0.2);
}
#homepage main a:hover {
    background-color: var(--color1);
    color: var(--color2);
}
#login header div,
#register header div {
    display: flex;
    justify-content: center;
}
#login header div a,
#register header div a {
    text-decoration: none;
    color: var(--color2);
    font-family: var(--sourceCodePro);
    font-size: calc(var(--percentage) * 2);
}
#login header div a:hover,
#register header div a:hover {
    text-decoration: underline;
}
#login main {
    display: flex;
    justify-content: center;
}
#login main form {
    width: calc(var(--percentage) / 3);
    padding: calc(var(--percentage) * 0.01);
    background-color: var(--color2);
}
#login main form .label {
    margin: calc(var(--percentage) * 0.02);
    font-family: var(--sourceCodePro);
    font-weight: bold;
    font-size: calc(var(--percentage) * 1.331);
    color: var(--color1);
    text-align: center;
}
#login main form input {
    width: calc(var(--percentage) * 0.94);
    margin: calc(var(--percentage) * 0.01) calc(var(--percentage) * 0.02);
    font-size: var(--percentage);
    font-family: var(--proximaNova);
    color: var(--color1);
}
#login main form #button {
    margin: calc(var(--percentage) * 0.02);
}
#login main form #button button {
    width: var(--percentage);
    color: var(--color2);
    background-color: var(--color1);
    cursor: pointer;
    font-size: var(--percentage);
    font-family: var(--proximaNova);
    font-weight: bold;
    border: none;
    padding: calc(var(--percentage) * 0.0125);
}
#login main form #button button:hover {
    color: var(--color1);
    background-color: var(--color2);
}
#login footer #serverRendering {
    display: flex;
    justify-content: center;
}
#login footer #serverRendering h1 {
    font-family: var(--proximaNova);
    font-weight: bold;
    width: unset;
}
#login footer #serverRendering #success {
    color: var(--color4);
}
#login footer #serverRendering #failure {
    color: var(--color3);
}
