@font-face {
    font-family: "Proxima Nova";
    src: url("/Public/Fonts/Proxima Nova.otf");
    src: url("/Public/Fonts/Proxima Nova - Alternate.otf");
}
@font-face {
    font-family: "Source Code Pro";
    src: url("/Public/Fonts/Source Code Pro - Black Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Black.otf");
    src: url("/Public/Fonts/Source Code Pro - Bold Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Bold.otf");
    src: url("/Public/Fonts/Source Code Pro - Extra Light Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Extra Light.otf");
    src: url("/Public/Fonts/Source Code Pro - Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Light Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Light.otf");
    src: url("/Public/Fonts/Source Code Pro - Medium Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Medium.otf");
    src: url("/Public/Fonts/Source Code Pro - Regular.otf");
    src: url("/Public/Fonts/Source Code Pro - Semi Bold Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Semi Bold.otf");
}
@font-face {
    font-family: "Chopsic";
    src: url("/Public/Fonts/Chopsic.otf");
}
@font-face {
    font-family: "Digital 7";
    src: url("/Public/Fonts/Digital 7.ttf");
}
:root {
    --color1: rgb(32, 32, 32);
    --color2: rgb(255, 255, 255);
    --color3: rgb(255, 0, 0);
    --color4: rgb(0, 255, 0);
    --color5: rgba(255, 255, 255, 0.5);
    --color6: rgb(0, 0, 0);
    --proximaNova: "Proxima Nova";
    --sourceCodePro: "Source Code Pro";
    --chopsic: "Chopsic";
    --digital7: "Digital 7";
    --percentage: 100%;
}
body {
    background-color: var(--color1);
    color: var(--color2);
    font-family: sans-serif;
}
#http404 header h1,
#Homepage header h1 {
    text-align: center;
}
#http404 header h1 {
    text-transform: uppercase;
}
#http404 header #code {
    color: var(--color3);
}
#Homepage main {
    display: flex;
    justify-content: space-evenly;
}
#Homepage main a {
    font-family: var(--proximaNova);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--color2);
    color: var(--color1);
}
#Homepage main a:hover {
    background-color: var(--color1);
    color: var(--color2);
}
#Login header div,
#LoginVerification header div,
#Register header div,
#ForgotPassword header div,
#userDashboard main nav .link,
#userProfile main nav .link,
#usersSearch main nav .link,
#usersSearch main #serverRendering div[class*="user_"] .profilePicture {
    display: flex;
    justify-content: center;
}
#Login header div a,
#LoginVerification header div a,
#Register header div a,
#ForgotPassword header div a {
    text-decoration: none;
    color: var(--color2);
    font-family: var(--sourceCodePro);
}
#Login header div a:hover,
#LoginVerification header div a:hover,
#Register header div a:hover,
#ForgotPassword header div a:hover {
    text-decoration: underline;
}
#Login main,
#LoginVerification main,
#Register main,
#ForgotPassword main {
    display: flex;
    justify-content: center;
}
#Login main form,
#LoginVerification main form,
#Register main form,
#ForgotPassword main form,
#userEditProfile main form,
#userAccount main form {
    background-color: var(--color2);
    color: var(--color1);
}
#Login main form .label,
#LoginVerification main form .label,
#Register main form .label,
#ForgotPassword main form .label,
#userEditProfile main form #label {
    font-family: var(--sourceCodePro);
    font-weight: bold;
    color: var(--color1);
    text-align: center;
}
#Login main form input,
#LoginVerification main form input,
#Register main form input,
#ForgotPassword main form input,
#userEditProfile main form input,
#userEditProfile main form input::file-selector-button {
    font-family: var(--proximaNova);
    color: var(--color1);
}
#Login main form #button button,
#LoginVerification main form #button button,
#Register main form #button button,
#ForgotPassword main form #button button,
#userEditProfile main form #button button,
#userAccount main form #button button {
    color: var(--color2);
    background-color: var(--color1);
    cursor: pointer;
    font-family: var(--proximaNova);
    font-weight: bold;
    border: none;
}
#Login main form #button button:hover,
#LoginVerification main form #button button:hover,
#Register main form #button button:hover,
#ForgotPassword main form #button button:hover,
#userEditProfile main form #button button:hover,
#userAccount main form #button button:hover {
    color: var(--color1);
    background-color: var(--color2);
}
#Login main form #serverRendering,
#LoginVerification main form #serverRendering,
#Register main form #serverRendering,
#ForgotPassword main form #serverRendering,
#userEditProfile main form #serverRendering,
#userAccount main form #serverRendering {
    text-align: center;
    display: block;
}
#Login main form #serverRendering h1,
#LoginVerification main form #serverRendering h1,
#Register main form #serverRendering h1,
#ForgotPassword main form #serverRendering h1,
#userEditProfile main form #serverRendering h1,
#userAccount main form #serverRendering h1 {
    font-family: var(--proximaNova);
    font-weight: bold;
    width: unset;
}
#success {
    color: var(--color4);
}
#failure {
    color: var(--color3);
}
#Register footer,
#Login footer {
    text-align: center;
    font-family: var(--sourceCodePro);
}
#Register footer a,
#Login footer a {
    text-decoration: none;
    color: var(--color2);
    font-weight: bold;
}
#Register footer a:hover,
#Login footer a:hover {
    text-decoration: underline;
}
#userDashboard header #clock,
#userProfile header #clock,
#userEditProfile header #clock,
#userAccount header #clock,
#usersSearch header #clock {
    text-align: center;
    font-weight: normal;
    font-family: var(--digital7);
}
#userDashboard main,
#userProfile main,
#userEditProfile main,
#userAccount main,
#usersSearch main,
#usersSearch main #searchForm #serverRendering div[class*="user_"] {
    display: flex;
}
#userDashboard main nav .link a,
#userProfile main nav .link a,
#userEditProfile main nav .link a,
#userAccount main nav .link a,
#usersSearch main nav .link a {
    text-decoration: none;
    color: var(--color2);
    opacity: calc(var(--percentage) / 2);
}
#userDashboard main nav .link a:hover,
#userProfile main nav .link a:hover,
#userEditProfile main nav .link a:hover,
#userAccount main nav .link a:hover,
#usersSearch main nav .link a:hover {
    opacity: var(--percentage);
}
#userDashboard main #contacts .foreverAlone {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--proximaNova);
}
#signOut header h1 {
    text-align: center;
    font-family: var(--sourceCodePro);
}
#userProfile main #profile {
    display: flex;
    flex-wrap: wrap;
}
#userProfile main #profile #header {
    display: flex;
}
#userProfile main #profile #header div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#userProfile main #profile #header div a {
    color: var(--color2);
    border-color: var(--color2);
    font-family: var(--proximaNova);
    text-decoration: none;
}
#userProfile main #profile #header div a:hover {
    color: var(--color1);
    background-color: var(--color2);
}
#userProfile main #profile #mailAddress a {
    font-family: var(--sourceCodePro);
    font-weight: normal;
    color: var(--color2);
    text-decoration: none;
}
#userProfile main #profile #mailAddress a:hover {
    text-decoration: underline;
}
#userProfile main #profile #username {
    font-family: var(--proximaNova);
    font-weight: bold;
}
#userProfile main #profile #contacts {
    display: flex;
}
#userEditProfile main form input::-webkit-file-upload-button {
    font-family: var(--proximaNova);
    border: none;
    background-color: var(--color1);
    color: var(--color2);
    font-weight: bold;
    cursor: pointer;
}
#userEditProfile main form input::-webkit-file-upload-button:hover {
    background-color: var(--color2);
    color: var(--color1);
}
#userDashboard main nav .link,
#userProfile main nav .link,
#userEditProfile main nav .link,
#userAccount main nav .link {
    text-align: center;
}
#userAccount main form #header {
    font-family: var(--sourceCodePro);
    text-align: center;
    display: block;
}
#userAccount main form div {
    display: flex;
}
#userAccount main form div .label {
    display: block;
    font-family: var(--sourceCodePro);
}
#userAccount main form div .input {
    display: block;
}
#userAccount main form div .input input,
#userAccount main form div .input h1 {
    font-family: var(--proximaNova);
    color: var(--color1);
    background-color: var(--color2);
    font-weight: normal;
}
#userAccount main form div .input input {
    border-color: var(--color1);
    border-style: solid;
}
#userAccount main form #button {
    display: block;
}
#usersSearch main #searchForm form {
    background-color: var(--color2);
}
#usersSearch main #searchForm form input {
    font-family: var(--proximaNova);
    font-weight: bold;
    color: var(--color1);
    background: none;
    border: none;
}
#usersSearch main #searchForm form input::placeholder {
    color: var(--color1);
}
#usersSearch main #searchForm form button {
    border: unset;
    background: none;
    color: var(--color1);
    cursor: pointer;
}
#usersSearch main #searchForm form button:hover {
    color: var(--color6);
}
#usersSearch
    main
    #searchForm
    #serverRendering
    div[class*="user_"]
    .userDetails
    .username
    h1 {
    font-family: var(--proximaNova);
    font-weight: bold;
}
#usersSearch
    main
    #searchForm
    #serverRendering
    div[class*="user_"]
    .userDetails
    .details {
    display: flex;
}
#usersSearch
    main
    #searchForm
    #serverRendering
    div[class*="user_"]
    .userDetails
    .details
    .mailAddress {
    font-family: var(--sourceCodePro);
}
#usersSearch
    main
    #searchForm
    #serverRendering
    div[class*="user_"]
    .userDetails
    .details
    .addButton
    button {
    font-family: var(--proximaNova);
    border: none;
    background-color: var(--color2);
    color: var(--color1);
    font-weight: bold;
    cursor: pointer;
}
#usersSearch
    main
    #searchForm
    #serverRendering
    div[class*="user_"]
    .userDetails
    .details
    .addButton
    button:hover {
    background-color: var(--color1);
    color: var(--color2);
}
#userDashboard
    main
    #contacts
    .contact
    div[class*="user_"]
    .userDetails
    .username
    h1 {
    font-size: calc(var(--percentage) * 2);
    margin: calc(var(--percentage) * 0);
    font-family: var(--sourceCodePro);
    font-weight: bold;
    text-align: left;
}
#userDashboard
    main
    #contacts
    .contact
    div[class*="user_"]
    .userDetails
    .messageButton
    a {
    text-decoration: none;
    color: var(--color2);
    opacity: calc(var(--percentage) / 2);
}
#userDashboard
    main
    #contacts
    .contact
    div[class*="user_"]
    .userDetails
    .messageButton
    a:hover {
    opacity: var(--percentage);
}
#userDashboard main #contacts h1 {
    text-align: center;
    font-family: var(--proximaNova);
}
#userDashboard
    main
    #contacts
    .contact
    div[class*="user_"]
    .profilePicture:has(i) {
    text-align: center;
}
