:root {
    --percentage: 100%;
    --pixelate: 1080px;
    --textSize: calc(var(--percentage) * 1);
}
body {
    margin: calc(var(--percentage) * 0);
    font-size: var(--percentage);
}
body[id="404"] header h1,
#Homepage header h1 {
    font-size: calc(var(--textSize) * 2);
    margin: calc(var(--percentage) * 0);
}
#Homepage main {
    margin-top: calc(var(--percentage) * 0.01);
}
#Homepage main a {
    font-size: calc(var(--textSize) * 1.458);
    padding: calc(var(--percentage) * 0.1) calc(var(--percentage) * 0.2);
}
#Login header div a,
body[id*="LoginsVerification"] header div a,
#Register header div a,
#ForgotPassword header div a {
    font-size: calc(var(--textSize) * 2);
}
#Login main form,
body[id*="LoginsVerification"] main form,
#Register main form,
#ForgotPassword main form {
    width: calc(var(--percentage) / 3);
    padding: calc(var(--percentage) * 0.01);
}
#Login main form .label,
body[id*="LoginsVerification"] main form .label,
#Register main form .label,
#ForgotPassword main form .label {
    margin: calc(var(--percentage) * 0.02);
    font-size: calc(var(--textSize) * 1.331);
}
#Login main form input,
body[id*="LoginsVerification"] main form input,
#Register main form input,
#ForgotPassword main form input,
body[id*="UsersProfile"][id*="Edit"] main form input {
    width: calc(var(--percentage) * 0.94);
    margin: calc(var(--percentage) * 0.01) calc(var(--percentage) * 0.02);
    font-size: var(--textSize);
}
#Login main form #button,
body[id*="LoginsVerification"] main form #button,
#Register main form #button,
#ForgotPassword main form #button,
body[id*="UsersProfile"][id*="Edit"] main form #button {
    margin: calc(var(--percentage) * 0.02);
}
#Login main form #button button,
body[id*="LoginsVerification"] main form #button button,
#Register main form #button button,
#ForgotPassword main form #button button,
body[id*="UsersProfile"][id*="Edit"] main form #button button,
body[id*="UsersAccount"] main form #button button {
    width: var(--percentage);
    font-size: var(--textSize);
    padding: calc(var(--percentage) * 0.0125);
}
#Login main form #serverRendering h1,
body[id*="LoginsVerification"] main form #serverRendering h1,
#Register main form #serverRendering h1,
#ForgotPassword main form #serverRendering h1,
body[id*="UsersProfile"][id*="Edit"] main form #serverRendering h1 {
    font-size: calc(var(--textSize) * 1.331);
}
#Register footer,
#Login footer {
    margin-top: calc(var(--percentage) * 0.01);
    font-size: var(--textSize);
}
body[id*="UsersDashboard"] header #clock,
body[id*="UsersProfile"] header #clock,
body[id*="UsersProfile"][id*="Edit"] header #clock,
body[id*="UsersAccount"] header #clock,
#UsersSearch header #clock {
    margin: calc(var(--percentage) * 0);
    font-size: calc(var(--textSize) * 2);
}
body[id*="UsersDashboard"] main nav,
body[id*="UsersProfile"] main nav,
body[id*="UsersProfile"][id*="Edit"] main nav,
body[id*="UsersAccount"] main nav,
#UsersSearch main nav {
    width: calc(var(--percentage) * 0.05);
}
body[id*="UsersDashboard"] main #contacts,
body[id*="UsersProfile"] main #profile,
body[id*="UsersProfile"][id*="Edit"] main form,
body[id*="UsersAccount"] main form,
#UsersSearch main #searchForm {
    width: calc(var(--percentage) * 0.95);
}
body[id*="UsersDashboard"] main nav .link,
body[id*="UsersProfile"] main nav .link,
body[id*="UsersProfile"][id*="Edit"] main nav .link,
body[id*="UsersAccount"] main nav .link,
#UsersSearch main nav .link {
    margin: calc(var(--percentage) * 0.2) calc(var(--percentage) * 0);
}
body[id*="UsersDashboard"] main nav .link a,
body[id*="UsersProfile"] main nav .link a,
body[id*="UsersProfile"][id*="Edit"] main nav .link a,
body[id*="UsersAccount"] main nav .link a,
#UsersSearch main nav .link a {
    font-size: calc(var(--textSize) * 2);
}
body[id*="UsersDashboard"] main #contacts .foreverAlone {
    height: var(--percentage);
    font-size: calc(var(--textSize) * 2);
}
#Sign-Out header h1 {
    font-size: calc(var(--textSize) * 2);
}
body[id*="UsersProfile"] main #profile #header,
body[id*="UsersProfile"] main #profile #username,
body[id*="UsersProfile"] main #profile #mailAddress,
body[id*="UsersProfile"] main #profile #contacts {
    width: var(--percentage);
}
body[id*="UsersProfile"] main #profile #header div {
    width: calc(var(--percentage) / 6);
}
body[id*="UsersProfile"] main #profile #header div a {
    font-size: calc(var(--textSize) * 2);
    border-style: solid;
    border-width: calc(var(--pixelate) / 1080);
    height: max-content;
    border-radius: calc(var(--percentage) / 2);
    padding: calc(var(--percentage) / 80) calc(var(--percentage) / 20);
}
body[id*="UsersProfile"] main #profile #mailAddress {
    font-size: var(--textSize);
}
body[id*="UsersProfile"] main #profile #username {
    font-size: calc(var(--textSize) * 2);
}
body[id*="UsersProfile"] main #profile #contacts #amountContacts {
    margin-right: calc(var(--percentage) * 0.01);
}
body[id*="UsersProfile"] main #profile #header div i {
    font-size: calc(var(--textSize) * 4);
}
body[id*="UsersProfile"][id*="Edit"] main form {
    padding: calc(var(--percentage) / 100);
    margin: calc(var(--percentage) * 0) calc(var(--percentage) / 3);
    width: calc(var(--percentage) * (47 / 150));
}
body[id*="UsersProfile"]
    [id*="Edit"]
    main
    form
    input::-webkit-file-upload-button {
    padding: calc(var(--percentage) / 100) calc(var(--percentage) / 50);
}
body[id*="UsersProfile"][id*="Edit"] main form #label {
    margin: calc(var(--percentage) * 0.02);
    font-size: calc(var(--textSize) * 0.9);
}
body[id*="UsersDashboard"] main nav .link a img,
body[id*="UsersProfile"] main nav .link a img,
body[id*="UsersProfile"][id*="Edit"] main nav .link a img,
body[id*="UsersAccount"] main nav .link a img,
#UsersSearch main nav .link a img {
    width: calc(var(--percentage) * 0.9);
    padding: calc(var(--percentage) * 0) calc(var(--percentage) / 20);
    height: auto;
}
body[id*="UsersProfile"] main #profile #header div img {
    width: var(--percentage);
    height: auto;
}
body[id*="UsersAccount"] main form #header {
    font-size: calc(var(--textSize) * 1.331);
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
body[id*="UsersAccount"] main form {
    padding: calc(var(--percentage) / 100);
    margin: calc(var(--percentage) * 0) calc(var(--percentage) * 0.29);
    width: calc(var(--percentage) * 0.4);
}
body[id*="UsersAccount"] main form div .label {
    font-size: var(--textSize);
    width: calc(var(--percentage) * 0.45);
    margin: calc(var(--percentage) * 0);
}
body[id*="UsersAccount"] main form div .input {
    width: calc(var(--percentage) * 0.55);
    margin: calc(var(--percentage) * 0);
}
body[id*="UsersAccount"] main form div .input input,
body[id*="UsersAccount"] main form div .input h1 {
    font-size: var(--textSize);
    width: calc(var(--percentage) * 0.98);
    margin: calc(var(--percentage) * 0);
}
body[id*="UsersAccount"] main form div .input input {
    border-width: calc(var(--pixelate) / 1080);
}
body[id*="UsersAccount"] main form div {
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
body[id*="UsersAccount"] main form #button {
    margin: calc(var(--percentage) / 50) calc(var(--percentage) * 0);
}
#UsersSearch main #searchForm form,
#UsersSearch main #searchForm #serverRendering div[class*="user_"] {
    width: calc(var(--percentage) * 0.9);
    margin: calc(var(--percentage) / 100) calc(var(--percentage) / 20);
}
#UsersSearch main #searchForm form input {
    padding: calc(var(--percentage) / 200);
    font-size: var(--textSize);
    width: calc(var(--percentage) * 0.9);
}
#UsersSearch main #searchForm form button {
    padding: unset;
    margin: unset;
    width: calc(var(--percentage) / 10);
    font-size: var(--textSize);
}
#UsersSearch main #searchForm #serverRendering div[class*="user_"] div,
#UsersSearch
    main
    #searchForm
    #serverRendering
    div[class*="user_"]
    .userDetails
    .details
    div {
    width: calc(var(--percentage) / 2);
}
#UsersSearch
    main
    #searchForm
    #serverRendering
    div[class*="user_"]
    .userDetails
    .username,
#UsersSearch
    main
    #searchForm
    #serverRendering
    div[class*="user_"]
    .userDetails
    .details {
    width: var(--percentage);
}
#UsersSearch
    main
    #searchForm
    #serverRendering
    div[class*="user_"]
    .userDetails
    .username
    h1 {
    font-size: calc(var(--textSize) * 2);
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
#UsersSearch
    main
    #searchForm
    #serverRendering
    div[class*="user_"]
    .userDetails
    .details
    .mailAddress {
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
#UsersSearch
    main
    #searchForm
    #serverRendering
    div[class*="user_"]
    .userDetails
    .details
    .addButton {
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
#UsersSearch
    main
    #searchForm
    #serverRendering
    div[class*="user_"]
    .userDetails
    .details
    .addButton
    button {
    padding: calc(var(--percentage) / 50) calc(var(--percentage) / 25);
}
#UsersSearch main #serverRendering div[class*="user_"] .profilePicture img {
    width: calc(var(--percentage) / 3);
    height: auto;
}
body[id*="UsersDashboard"] main #contacts .contact {
    width: calc(var(--percentage) / 3);
    margin: calc(var(--percentage) * 0) calc(var(--percentage) / 3);
}
body[id*="UsersDashboard"] main #contacts .contact div[class*="user_"] {
    display: flex;
    margin: calc(var(--percentage) / 50) calc(var(--percentage) * 0);
}
body[id*="UsersDashboard"]
    main
    #contacts
    .contact
    div[class*="user_"]
    .profilePicture {
    width: calc(var(--percentage) / 4);
}
body[id*="UsersDashboard"]
    main
    #contacts
    .contact
    div[class*="user_"]
    .profilePicture
    img {
    width: var(--percentage);
    height: auto;
}
body[id*="UsersDashboard"]
    main
    #contacts
    .contact
    div[class*="user_"]
    .userDetails {
    width: calc(var(--percentage) * (3 / 4));
}
body[id*="UsersDashboard"]
    main
    #contacts
    .contact
    div[class*="user_"]
    .userDetails
    .username {
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
    width: calc(var(--percentage) * 0.99);
    margin-left: calc(var(--percentage) / 100);
}
body[id*="UsersDashboard"]
    main
    #contacts
    .contact
    div[class*="user_"]
    .userDetails
    .username
    h1 {
    font-size: calc(var(--textSize) * 2);
    margin: calc(var(--percentage) * 0);
}
body[id*="UsersDashboard"]
    main
    #contacts
    .contact
    div[class*="user_"]
    .userDetails
    .messageButton
    a {
    font-size: calc(var(--textSize) * 2);
}
body[id*="UsersDashboard"]
    main
    #contacts
    .contact
    div[class*="user_"]
    .userDetails
    .messageButton {
    width: calc(var(--percentage) * 0.98);
    margin-left: calc(var(--percentage) / 50);
}
body[id*="UsersDashboard"] main #contacts h1 {
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
    font-size: calc(var(--textSize) * 1.458);
}
body[id*="UsersDashboard"]
    main
    #contacts
    .contact
    div[class*="user_"]
    .profilePicture
    i {
    font-size: calc(var(--textSize) * 5);
}
#UsersSearch
    main
    #searchForm
    #serverRendering
    div[class*="user_"]
    .profilePicture
    i {
    font-size: calc(var(--textSize) * 5);
}
body[id*="UsersProfile"][id*="Edit"] main form input,
body[id*="UsersProfile"][id*="Edit"] main form #button button {
    font-size: calc(var(--textSize) * 0.81);
}
