:root {
    --percentage: 100%;
    --pixelate: 1080px;
    --mobile: 0.59049;
}
body {
    margin: calc(var(--percentage) * 0);
    font-size: calc(var(--percentage) * var(--mobile));
}
#http404 header h1,
#homepage header h1 {
    font-size: calc(var(--percentage) * var(--mobile) * 4);
    margin: calc(var(--percentage) * 0);
}
#homepage main {
    margin-top: calc(var(--percentage) * 0.02);
}
#homepage main a {
    font-size: calc(var(--percentage) * var(--mobile) * 2.3958);
    padding: calc(var(--pixelate) / 240) calc(var(--pixelate) / 120);
}
#login header div a,
#loginVerification header div a,
#register header div a,
#forgotPassword header div a {
    font-size: calc(var(--percentage) * var(--mobile) * 2);
}
#login main form,
#loginVerification main form,
#register main form,
#forgotPassword main form {
    width: calc(var(--percentage) / 3);
    padding: calc(var(--percentage) * 0.01);
}
#login main form .label,
#loginVerification main form .label,
#register main form .label,
#forgotPassword main form .label {
    margin: calc(var(--percentage) * 0.02);
    font-size: calc(var(--percentage) * var(--mobile) * 1.331);
}
#login main form input,
#loginVerification main form input,
#register main form input,
#forgotPassword main form input {
    width: calc(var(--percentage) * 0.94);
    margin: calc(var(--percentage) * 0.01) calc(var(--percentage) * 0.02);
    font-size: calc(var(--percentage) * var(--mobile));
}
#login main form #button,
#loginVerification main form #button,
#register main form #button,
#forgotPassword main form #button {
    margin: calc(var(--percentage) * 0.02);
}
#login main form #button button,
#loginVerification main form #button button,
#register main form #button button,
#forgotPassword main form #button button {
    width: var(--percentage);
    font-size: calc(var(--percentage) * var(--mobile));
    padding: calc(var(--percentage) * 0.0125);
}
#login main form #serverRendering h1,
#loginVerification main form #serverRendering h1,
#register main form #serverRendering h1,
#forgotPassword main form #serverRendering h1 {
    font-size: calc(var(--percentage) * var(--mobile) * 1.331);
}
#register footer,
#login footer {
    margin-top: calc(var(--percentage) * 0.01);
    font-size: calc(var(--percentage) * var(--mobile));
}
#userDashboard header nav {
    display: flex;
}
#userDashboard header nav #home {
    width: calc(var(--percentage) / 2);
    text-align: center;
}
#userDashboard header nav #profile,
#userDashboard header nav #logout {
    width: calc(var(--percentage) / 4);
    text-align: center;
}
#userDashboard header nav div a {
    font-size: calc(var(--percentage) * 2);
    color: var(--color5);
}
#userDashboard header nav div a:hover {
    color: var(--color2);
}
#signOut header h1 {
    text-align: center;
    font-family: var(--sourceCodePro);
    font-size: calc(var(--percentage) * 2);
}
