:root {
    --percentage: 100%;
    --pixelate: 1080px;
    --tablet: 0.729;
}
body {
    margin: calc(var(--percentage) * 0);
    font-size: calc(var(--percentage) * var(--tablet));
}
#http404 header h1,
#homepage header h1 {
    font-size: calc(var(--percentage) * var(--tablet) * 4);
    margin: calc(var(--percentage) * 0);
}
#homepage main {
    margin-top: calc(var(--percentage) * 0.01);
}
#homepage main a {
    font-size: calc(var(--percentage) * var(--tablet) * 2.9282);
    padding: calc(var(--pixelate) / 240) calc(var(--pixelate) / 120);
}
#login header div a,
#loginVerification header div a,
#register header div a,
#forgotPassword header div a {
    font-size: calc(var(--percentage) * var(--tablet) * 3.22102);
}
#login main form,
#loginVerification main form,
#register main form,
#forgotPassword main form {
    width: calc(var(--percentage) * (2 / 3));
    padding: calc(var(--percentage) * 0.01);
}
#login main form .label,
#loginVerification main form .label,
#register main form .label,
#forgotPassword main form .label {
    margin: calc(var(--percentage) * 0.02);
    font-size: calc(var(--percentage) * var(--tablet) * 2.14358881);
}
#login main form input,
#loginVerification main form input,
#register main form input,
#forgotPassword main form input,
#userEditProfile main form input {
    width: calc(var(--percentage) * 0.94);
    margin: calc(var(--percentage) * 0.01) calc(var(--percentage) * 0.02);
    font-size: calc(var(--percentage) * var(--tablet) * 1.61051);
}
#login main form #button,
#loginVerification main form #button,
#register main form #button,
#forgotPassword main form #button,
#userEditProfile main form #button {
    margin: calc(var(--percentage) * 0.02);
}
#login main form #button button,
#loginVerification main form #button button,
#register main form #button button,
#forgotPassword main form #button button,
#userEditProfile main form #button button,
#userAccount main form #button button {
    width: var(--percentage);
    font-size: calc(var(--percentage) * var(--tablet) * 1.61051);
    padding: calc(var(--percentage) * 0.0125);
}
#login main form #serverRendering h1,
#loginVerification main form #serverRendering h1,
#register main form #serverRendering h1,
#forgotPassword main form #serverRendering h1,
#userEditProfile main form #serverRendering h1 {
    font-size: calc(var(--percentage) * var(--tablet) * 2.14358881);
}
#register footer,
#login footer {
    margin-top: calc(var(--percentage) * 0.01);
    font-size: calc(var(--percentage) * var(--tablet) * 1.61051);
}
#userDashboard header #clock,
#userProfile header #clock,
#userEditProfile header #clock,
#userAccount header #clock,
#usersSearch header #clock {
    margin: calc(var(--percentage) * 0);
    font-size: calc(var(--percentage) * var(--tablet) * 3.22102);
}
#userDashboard main nav,
#userProfile main nav,
#userEditProfile main nav,
#userAccount main nav,
#usersSearch main nav {
    width: calc(var(--percentage) * 0.0805255);
}
#userDashboard main #contacts,
#userProfile main #profile,
#userEditProfile main form,
#userAccount main form,
#usersSearch main #searchForm {
    width: calc(var(--percentage) * 0.9194745);
}
#userDashboard main nav .link,
#userProfile main nav .link,
#userEditProfile main nav .link,
#userAccount main nav .link,
#usersSearch main nav .link {
    margin: calc(var(--percentage) * 0.2) calc(var(--percentage) * 0);
}
#userDashboard main nav .link a,
#userProfile main nav .link a,
#userEditProfile main nav .link a,
#userAccount main nav .link a,
#usersSearch main nav .link a {
    font-size: calc(var(--percentage) * var(--tablet) * 3.22102);
}
#userDashboard main #contacts .foreverAlone {
    height: var(--percentage);
    font-size: calc(var(--percentage) * var(--tablet) * 2.898918);
}
#signOut header h1 {
    font-size: calc(var(--percentage) * var(--tablet) * 2);
}
#userProfile main #profile #header,
#userProfile main #profile #username,
#userProfile main #profile #mailAddress,
#userProfile main #profile #contacts {
    width: var(--percentage);
}
#userProfile main #profile #header div {
    width: calc(var(--percentage) / 2);
}
#userProfile main #profile #header div a {
    font-size: calc(var(--percentage) * var(--tablet) * 3.22102);
    text-decoration: underline;
}
#userProfile main #profile #header div a:hover {
    text-decoration: none;
    color: var(--color2);
    background-color: var(--color1);
}
#userProfile main #profile #mailAddress a {
    font-size: calc(var(--percentage) * var(--tablet) * 1.61051);
}
#userProfile main #profile #username {
    font-size: calc(var(--percentage) * var(--tablet) * 3.22102);
}
#userProfile main #profile #contacts #amountContacts {
    margin-right: calc(var(--percentage) * 0.01);
}
#userProfile main #profile #header div i {
    font-size: calc(var(--percentage) * var(--tablet) * 6.44204);
}
#userEditProfile main form {
    padding: calc(var(--percentage) * 0.01);
    margin: calc(var(--percentage) * 0) calc(var(--percentage) / 6);
}
#userEditProfile main form input::-webkit-file-upload-button {
    padding: calc(var(--percentage) / 100) calc(var(--percentage) / 50);
}
#userEditProfile main form #label {
    margin: calc(var(--percentage) * 0.02);
    font-size: calc(var(--percentage) * var(--tablet) * 1.61051);
}
#userDashboard main nav .link a img,
#userProfile main nav .link a img,
#userEditProfile main nav .link a img,
#userAccount main nav .link a img,
#usersSearch main nav .link a img {
    width: calc(var(--percentage) * 0.9);
    padding: calc(var(--percentage) * 0) calc(var(--percentage) / 20);
    height: auto;
}
#userProfile main #profile #header div img {
    width: calc(var(--percentage) / 3);
    height: auto;
}
#userAccount main form #header {
    font-size: calc(var(--percentage) * var(--tablet) * 2.14358881);
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
#userAccount main form {
    padding: calc(var(--percentage) / 100);
    margin: calc(var(--percentage) * 0) calc(var(--percentage) * 0.19);
    width: calc(var(--percentage) * 0.6);
}
#userAccount main form div .label {
    font-size: calc(var(--percentage) * var(--tablet) * 1.61051);
    width: calc(var(--percentage) * 0.45);
    margin: calc(var(--percentage) * 0);
}
#userAccount main form div .input {
    width: calc(var(--percentage) * 0.55);
    margin: calc(var(--percentage) * 0);
}
#userAccount main form div .input input {
    font-size: calc(var(--percentage) * var(--tablet) * 1.61051);
    width: calc(var(--percentage) * 0.98);
    border-width: calc(var(--pixelate) / 1080);
}
#userAccount main form div {
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
#userAccount main form #button {
    margin: calc(var(--percentage) / 50) calc(var(--percentage) * 0);
}
#usersSearch main #searchForm form,
#usersSearch main #searchForm #serverRendering div[class*="user_"] {
    width: calc(var(--percentage) * 0.9);
    margin: calc(var(--percentage) / 100) calc(var(--percentage) / 20);
}
#usersSearch main #searchForm form input {
    padding: calc(var(--percentage) / 200);
    font-size: calc(var(--percentage) * var(--tablet) * 1.61051);
    width: calc(var(--percentage) * 0.9);
}
#usersSearch main #searchForm form button {
    padding: unset;
    margin: unset;
    width: calc(var(--percentage) / 10);
    font-size: calc(var(--percentage) * var(--tablet) * 1.61051);
}
#usersSearch main #searchForm #serverRendering div[class*="user_"] div,
#usersSearch
    main
    #searchForm
    #serverRendering
    div[class*="user_"]
    .userDetails
    .details
    div {
    width: calc(var(--percentage) / 2);
}
#usersSearch
    main
    #searchForm
    #serverRendering
    div[class*="user_"]
    .userDetails
    .username,
#usersSearch
    main
    #searchForm
    #serverRendering
    div[class*="user_"]
    .userDetails
    .details {
    width: var(--percentage);
}
#usersSearch
    main
    #searchForm
    #serverRendering
    div[class*="user_"]
    .userDetails
    .username
    h1 {
    font-size: calc(var(--percentage) * var(--tablet) * 3.22102);
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
#usersSearch
    main
    #searchForm
    #serverRendering
    div[class*="user_"]
    .userDetails
    .details
    .mailAddress {
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
#usersSearch
    main
    #searchForm
    #serverRendering
    div[class*="user_"]
    .userDetails
    .details
    .addButton {
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
#usersSearch
    main
    #searchForm
    #serverRendering
    div[class*="user_"]
    .userDetails
    .details
    .addButton
    button {
    padding: calc(var(--percentage) / 50) calc(var(--percentage) / 25);
}
#usersSearch main #serverRendering div[class*="user_"] .profilePicture img {
    width: calc(var(--percentage) / 3);
    height: auto;
}
