:root {
    --percentage: 100%;
    --pixelate: 1080px;
    --tablet: 0.729;
}
body {
    margin: calc(var(--percentage) * 0);
    font-size: calc(var(--percentage) * var(--tablet));
}
#http404 header h1,
#homepage header h1 {
    font-size: calc(var(--percentage) * var(--tablet) * 4);
    margin: calc(var(--percentage) * 0);
}
#homepage main {
    margin-top: calc(var(--percentage) * 0.01);
}
#homepage main a {
    font-size: calc(var(--percentage) * var(--tablet) * 2.9282);
    padding: calc(var(--pixelate) / 240) calc(var(--pixelate) / 120);
}
#login header div a,
#loginVerification header div a,
#register header div a,
#forgotPassword header div a {
    font-size: calc(var(--percentage) * var(--tablet) * 3.22102);
}
#login main form,
#loginVerification main form,
#register main form,
#forgotPassword main form {
    width: calc(var(--percentage) * (2 / 3));
    padding: calc(var(--percentage) * 0.01);
}
#login main form .label,
#loginVerification main form .label,
#register main form .label,
#forgotPassword main form .label {
    margin: calc(var(--percentage) * 0.02);
    font-size: calc(var(--percentage) * var(--tablet) * 2.14358881);
}
#login main form input,
#loginVerification main form input,
#register main form input,
#forgotPassword main form input {
    width: calc(var(--percentage) * 0.94);
    margin: calc(var(--percentage) * 0.01) calc(var(--percentage) * 0.02);
    font-size: calc(var(--percentage) * var(--tablet) * 1.61051);
}
#login main form #button,
#loginVerification main form #button,
#register main form #button,
#forgotPassword main form #button {
    margin: calc(var(--percentage) * 0.02);
}
#login main form #button button,
#loginVerification main form #button button,
#register main form #button button,
#forgotPassword main form #button button {
    width: var(--percentage);
    font-size: calc(var(--percentage) * var(--tablet) * 1.61051);
    padding: calc(var(--percentage) * 0.0125);
}
#login main form #serverRendering h1,
#loginVerification main form #serverRendering h1,
#register main form #serverRendering h1,
#forgotPassword main form #serverRendering h1 {
    font-size: calc(var(--percentage) * var(--tablet) * 2.14358881);
}
#register footer,
#login footer {
    margin-top: calc(var(--percentage) * 0.01);
    font-size: calc(var(--percentage) * var(--tablet) * 1.61051);
}
#userDashboard header #clock,
#userProfile header #clock {
    margin: calc(var(--percentage) * 0);
    font-size: calc(var(--percentage) * var(--tablet) * 3.22102);
}
#userDashboard main nav,
#userProfile main nav {
    width: calc(var(--percentage) * 0.0805255);
}
#userDashboard main #contacts,
#userProfile main #profile {
    width: calc(var(--percentage) * 0.9194745);
}
#userDashboard main nav .link,
#userProfile main nav .link {
    margin: calc(var(--percentage) * 0.2) calc(var(--percentage) * 0);
}
#userDashboard main nav .link a,
#userProfile main nav .link a {
    font-size: calc(var(--percentage) * var(--tablet) * 3.22102);
}
#userDashboard main #contacts .foreverAlone {
    height: var(--percentage);
    font-size: calc(var(--percentage) * 2.898918);
}
#signOut header h1 {
    font-size: calc(var(--percentage) * var(--tablet) * 2);
}
#userProfile main #profile #header,
#userProfile main #profile #username,
#userProfile main #profile #mailAddress,
#userProfile main #profile #contacts {
    width: var(--percentage);
}
#userProfile main #profile #header div {
    width: calc(var(--percentage) / 2);
}
#userProfile main #profile #header div a {
    font-size: calc(var(--percentage) * var(--tablet) * 3.22102);
    text-decoration: underline;
}
#userProfile main #profile #header div a:hover {
    text-decoration: none;
    color: var(--color2);
    background-color: var(--color1);
}
